<html>
  <head>
    <title>Github Conglomerate</title>
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
    {% if google_analytics_token -%}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ google_analytics_token }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </head>
  <body>
    <div class="container">
      <div class="row page-header">
        <div class="col-md-12">
	  <h1>Github Conglomerate</h1>
          <p>This project isn't endorsed by anyone, especially Github.</p>
	  <p>Some organisations split their code across a number of Github organisations; this project brings it back together.</p>
	  <p>Naturally it's <a href="https://github.com/bewt85/GithubConglomerate">hosted on Github</a>, your help making it better would be warmly received.  For example, if you can lend some bootstrap or think of a better <a href='https://github.com/bewt85/GithubConglomerate/blob/master/github_conglomerate/Views.py'>scoring algorithm</a>, please feel free to make a pull request</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover">
            <thead>
              <th>Organisation</th>
              <th>Repo</th>
              <th>Description</th>
              <th>score</th>
            </thead>
            <tbody data-link="row" class="rowlink">
            {% for repo in repos %}
              <tr>
                <td>{{ repo['organisation'] }}</td>
                <td><a href='{{ repo['html_url'] }}'>{{ repo['name'] }}</a></td>
                <td>{{ repo['description'] }}</td>
                <td>{{ '%0.2f' % repo['score'] }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>Data collected: {{created_at}}</h4>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function () { $('tbody.rowlink').rowlink() }
    </script>
  </body>
</html>  
